* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: static;
}

body {
    background-color: #c4cbca;
    display: block;
}

header {
    background-color: rgb(17, 59, 59);  
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}

header span{
    background-color: palevioletred;   
}

nav {
    padding-bottom: 10px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}
nav ul {
    list-style-type: none;
    overflow: hidden;
    color: #ffffff;
}
nav ul li {
    display: inline-block;
    text-align: center;
    margin-left: 15px;
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

.hero {
    height: 300px;
    width: 100%;
    background-image: url(https://d2pn8kiwq2w21t.cloudfront.net/original_images/jpegPIA23128.jpg);
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
}

.hero-subtitle {
    padding-bottom: 15px;
    padding-right: 15px;
}

.span-background-subtitle {
    background-color: rgb(6, 74, 157);
    font-size: 30px;
    color: #ffff;
    opacity: .95;
}

article {
    display: block;
}

.about-me-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.about-me-grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px 10px;
}
.about-me-about-me-title {
    padding-top: 15px;
    font-size: 35px;
    grid-row: 1/span 4;
    padding-right: 10px;
    text-align: right;
    border-right: 3px solid black;
}

.about-me-part-1 {
    padding-left: 20px;
    grid-column: 2/span 3;
    grid-row: 1/span 2;
    padding-right: 5px;
}

.about-me-part-2 {
    padding-left: 20px;
    grid-column: 2/span 3;
    grid-row: 3/span 2;
    padding-right: 5px;
}

main.work {
    padding: 2rem;
}
  
.work > h1 {
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-bottom: 1rem;
    color: #333333;
    font-weight: bold;
}
  
.work > .work-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: repeat(6, 200px);
    grid-gap: 1rem;
    grid-auto-flow: dense;
}
  
.work > .work-items >li:first-child {
      grid-column: span 3;
      grid-row: span 2;
}

.work > .work-items > li:nth-child(4n) {
    grid-column: span ;
    grid-row: span ;
}
  
.work > .work-items > li:nth-child(8n) {
    grid-column: span 2;
    grid-row: span 2;
}
  
.work > .work-items > li > figure {
    height: 100%;
}
  
.work > .work-items> li > figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  footer a {
    text-decoration: none;
    border-bottom: 2px solid black;
    font-size: 1.8vw;
    font-weight: bold;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: ;
    margin-top: 50px;
}

.footer-container{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr);
    grid-template-rows: repeat(3,2fr);
    gap: 20px 20px
}
.footer-grid-contact-me {
    padding-top: 10px;
    font-size: 30px;
    grid-row: 1/span 3;
    text-align: right;
    padding-right: 10px;
    border-right: 2px solid black;
}
.footer-grid-phone {
    grid-row: 2;
}
.footer-grid-email {
    grid-row: 2;
}
.footer-grid-github {
    grid-row: 2;
}
.footer-grid-linkedin {
    grid-row: 2;
}
  